.header {
  padding: 10px 0;
  background: #fff;
  border-bottom: 1.17px solid #e2e8f0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  display: flex;
  gap: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0px;
  width: 44px;
  height: 44px;
  background: #155dfc;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.logo_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_title {
  font-weight: 700;
  line-height: 28px;
  color: #0a0a0a;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.logo_page_name {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #45556c;
}

.nav {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.close_icon {
  stroke: #0a0a0a;
  transition: stroke 0.2s ease;
}

.menu_icon {
  stroke: #0a0a0a;
  transition: stroke 0.2s ease;
}

.close_btn,
.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: transform 0.1s ease;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.close_btn:hover .close_icon,
.close_btn:focus-visible .close_icon,
.menu_btn:hover .menu_icon,
.menu_btn:focus-visible .menu_icon {
  fill: #2563eb;
  stroke: #2563eb;
}

.close_btn:hover .close_icon,
.menu_btn:active .menu_icon {
  transform: scale(0.95);
}

.user_container {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav_list_item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #45556c;
  opacity: 1;
  transition:
    color 0.2s ease,
    opacity 0.2s ease;
}

.nav_list_item:hover,
.nav_list_item:focus {
  opacity: 0.7;
}

.nav_list_item:active {
  color: #2563eb;
  transform: scale(0.95);
}

.user {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 12px;
  background: #f1f5f9;
  min-width: 121px;
  height: 36px;
}

.user_icon {
  stroke: #45556c;
  fill: transparent;
}

.user_name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0a0a0a;
}

.exit_icon {
  stroke: #0a0a0a;
  fill: none;
  transition: stroke 0.2s ease;
  margin-right: 13px;
}

.exit_btn:active .exit_icon {
  stroke: #fff;
}
