.filters_container {
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.filter_icon {
  fill: none;
  stroke: #0a0a0a;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.55556;
  color: #0a0a0a;
}

.select_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.filter_item {
  width: 100%;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #0a0a0a;
  margin-bottom: 8px;
}
