.containerFaultCardList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 47px;
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 23px 0px 0px 23px;
  width: 824px;
  
  background: #fff;
}

.datanowForList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 218px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.faultList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 47px;
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 23px 0px 0px 23px;
  width: 824px;
  background: #fff;
}
.faultCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 35px;
  border-bottom: 1.17px solid #00c950;
  border-left: 3.52px solid #00c950;
  border-right: 1.17px solid #00c950;
  border-top: 1.17px solid #00c950;
  border-radius: 12px;
  padding: 15px 0px 0px 15px;
  width: 773px;
  height: 340px;
  background: #fff;
}
