.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 7px;
  margin-bottom: 2px;
}
.headerButton {
  display: block;
}

.faultId {
  /* margin-right: 400px; */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #0a0a0a;
}
.containerFaultCardList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 47px;
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 23px 0px 0px 23px;
  width: 824px;

  background: #fff;
}

.datanowForList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 218px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.faultList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 47px;
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 23px 0px 0px 23px;
  width: 824px;
  background: #fff;
}
.faultCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 35px;
  border-bottom: 1.17px solid #00c950;
  border-left: 3.52px solid #00c950;
  border-right: 1.17px solid #00c950;
  border-top: 1.17px solid #00c950;
  border-radius: 12px;
  padding: 15px 0px 0px 15px;
  width: 773px;
  height: 340px;
  background: #fff;
}
.buttonInProgress {
  background-color: #2563eb;
  color: #ffffff;

  padding: 4px 12px;
  border-radius: 8px;
  height: 28px;
  margin-left: 4px;
}
.namePlant {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #45556c;
  margin-bottom: 8px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  overflow: hidden;
}

.user_icon {
  display: block;
  flex-shrink: 0;
  stroke: #45556c;
  fill: transparent;
}

.user_name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #193cb8;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
