.datanowForList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 218px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.faultList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 47px;
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 23px 0px 0px 23px;
  width: 824px;
  background: #fff;
}
