.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42857;
  color: #0a0a0a;
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.btn_container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.btn {
  background-color: #d4183d;
  border-color: #d4183d;
}
