.btn_list {
  display: flex;
  gap: 4px;
  border: 1.17px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 4px;
}

.active {
  background-color: #2563eb;
  color: #fff;
}

.active:hover {
  color: #0a0a0a;
}
