.headersFilter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #45556c;
  padding-bottom: 12px;
}
.listPriority {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 7px;
}
.buttonBassa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 2.35px solid #00c950;
  border-radius: 4px;
  padding: 0 12px;
  width: 349px;
  height: 35px;
  background: #f0fdf4;
}

.bassa {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #0a0a0a;
}

.bassaSpan {
  display: block;
  flex-shrink: 0;
  border-radius: 2px;
  width: 11px;
  height: 11px;
  background: #00c950;
}
.buttonMedia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 2.35px solid #f0b100;
  border-radius: 4px;
  padding: 0 12px;
  width: 349px;
  height: 35px;
  background: #f0fdf4;
}

.media {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #0a0a0a;
}

.mediaSpan {
  display: block;
  flex-shrink: 0;
  border-radius: 2px;
  width: 11px;
  height: 11px;
  background: #f0b100;
}
