.pageWrapper {
  padding: 16px 0 32px;

  @media screen and (min-width: 768px) {
    padding: 24px 0 48px;
  }
}

.tabsBarWrap {
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
}

.filtersWrap {
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
}

.contentSection {
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
}
